USE [C138_byronpc18_gmail]
GO
/****** Object:  Table [dbo].[Visits]    Script Date: 4/3/2024 3:50:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visits](
	[visit_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL
) ON [PRIMARY]
GO
