USE [C138_byronpc18_gmail]
GO
/****** Object:  Table [sab].[StudentProfiles]    Script Date: 4/3/2024 3:50:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sab].[StudentProfiles](
	[StudentId] [int] NOT NULL,
	[EnrollDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
